<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="non"
            description="The non-language"
            language="non">
      </language>
   </extension>
   <extension
         id="org.eclipse.imp.test.non.parserWrapper"
         name="non Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parserWrapper
            class="org.eclipse.imp.test.non.parser.NonParseController"
            language="non">
      </parserWrapper>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.test.non.tokenColorer.NonTokenColorer"
            language="non">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.test.non.foldingUpdater.NonFoldingUpdater"
            language="non">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.test.non.contentProposer.NonContentProposer"
            language="non">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.eclipse.imp.test.non.documentationProvider.NonDocumentationProvider"
            language="non">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceMarker
            class="org.eclipse.imp.test.non.occurrenceMarker.NonOccurrenceMarker"
            language="non">
      </occurrenceMarker>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.eclipse.imp.test.non.referenceResolvers.NonReferenceResolver"
            language="non">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.eclipse.imp.test.non.treeModelBuilder.NonTreeModelBuilder"
            language="non">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.eclipse.imp.test.non.treeModelBuilder.NonLabelProvider"
            language="non">
      </labelProvider>
   </extension>
</plugin>
